# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# Environment variables
.env
.env.*

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# VSCode
.vscode/

# PyCharm
.idea/

# Testing
.coverage
htmlcov/
.pytest_cache/

# Streamlit
.streamlit/secrets.toml